#pantalla {
    margin-top: 50px;
    position: relative;
    background-color: #555;
}
#horizontal {
    position: relative;
    margin: 0vh auto;
    width: 1000px;
    height: 500px;
    background: black;
}

#horizontal canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* background: url(../resources/images/web/demo.png) */
}

#vertical {
    display: none;
}

@media all and (orientation: portrait) {
    #horizontal {
        margin-top: 50px;
    }
    
    #vertical {
        display: block;
        position: absolute;
        width: 1000px;
        height: 500px;
        z-index: 1;
        /* background: url(../resources/images/web/1000x500_giro.png); */
        opacity: 0.8;
        background-size: cover;
        background-position: center;
    }
}

@media all and (orientation: landscape) {
       #horizontal {
        margin-top: 50px;
    }
}