/*.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}*/

#presentacion {
    align-items: center;
}
/*#presentacion .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}*/

#presentacion article {
    /*margin: 15px;*/
}

#presentacion img {
    width: 100%;
}
/*https://www.youtube.com/watch?v=nOjxVmN-obU*/
/*https://www.youtube.com/watch?v=fu1EPyRDGt0*/